---
import { ContactoForm } from "@/components/ContactoForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <main class="centrar py-8">
        <h1 class="text-center font-semibold text-5xl">Contacto</h1>

        <ContactoForm client:load />
    </main>
</Layout>
