---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
    <div>
        <h1>Hola desde nosotros</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            unde incidunt et sed, minima dolor perferendis dolore temporibus
            quidem laboriosam aut commodi laudantium blanditiis ratione fuga
            eveniet. Eius reprehenderit asperiores hic unde debitis omnis
            voluptatem, praesentium dolorem vitae. Dolore voluptatibus dicta in,
            numquam voluptatum quasi. Aliquam pariatur sed quam, ipsa id
            suscipit, error voluptas odio, explicabo magni dolorum. Odio
            deserunt soluta sint esse illum modi accusantium reprehenderit,
            dolor quaerat accusamus, id blanditiis unde optio at mollitia
            consequuntur voluptas aspernatur repellat? Doloribus ipsum sunt
            molestiae ipsa autem fugit quisquam cum adipisci earum, itaque quod
            repudiandae aliquid eveniet soluta facere deleniti placeat, possimus
            quae cumque aperiam neque quos vel! Facilis, explicabo. Pariatur
            distinctio alias hic est beatae sit reprehenderit a voluptate
            repellendus tempora, rem debitis sapiente porro accusamus deserunt
            sint voluptatem, ipsa, culpa reiciendis voluptatibus at neque
            voluptates voluptas id. Commodi nulla perspiciatis iusto reiciendis
            eum soluta enim consequatur, voluptatem mollitia voluptatibus harum
            debitis et quia asperiores itaque quos tenetur repellendus quas, sed
            neque accusamus fugiat suscipit vel nobis. Impedit, provident
            aliquam dolorem nesciunt ducimus doloribus doloremque. Aliquid et
            quia modi tempora possimus porro fugiat dicta perspiciatis
            laboriosam non, quos ipsum, officia aliquam omnis aperiam dolorum
            corporis dolor? Esse unde, molestias qui officiis quidem sit
            voluptates nisi dolores, alias explicabo ut error cum nulla eum!
            Illo accusamus voluptates, officia fugiat dicta doloribus
            temporibus, maiores ea architecto asperiores deleniti minus numquam
            perferendis obcaecati earum nemo tempora est eum optio iste facilis.
            Facilis magnam officia doloribus totam nihil? Laboriosam architecto
            optio doloremque culpa modi consequatur assumenda animi similique,
            nemo, repudiandae officiis. Nam autem corporis facilis enim atque
            sunt eos. Nobis excepturi cupiditate corporis perferendis unde esse,
            quisquam ducimus praesentium, quo atque itaque a, eius eaque autem
            blanditiis! Voluptate cupiditate amet rerum veniam officiis
            molestiae aliquam atque iure officia consectetur nostrum possimus
            et, nihil, reprehenderit optio, quidem quisquam at delectus.
            Inventore explicabo vel asperiores ipsa nam minus quibusdam,
            distinctio, commodi, voluptas veritatis dignissimos ipsam dolore
            nemo. Assumenda natus eum nesciunt debitis animi, ex quasi nemo
            voluptate dicta veritatis mollitia ducimus ab molestias dolor ipsa
            nam modi facilis? Asperiores assumenda doloremque qui eum
            accusantium, illum maiores libero optio minima quasi, beatae placeat
            magnam repellendus odit atque autem? Officiis, quaerat veritatis
            animi, quia illo tenetur ipsum perferendis consectetur fugit et est,
            velit voluptate! Ea, eius totam vitae ipsam consequatur omnis
            provident vel mollitia iure odio et ad quibusdam, quis nostrum saepe
            rerum sint molestiae vero beatae tenetur laboriosam. Sequi soluta
            dolores necessitatibus doloribus at, laudantium suscipit magni,
            fugit accusantium repellendus placeat, quibusdam quos in corrupti
            fugiat? Veniam magnam rem officia, atque illum numquam iste quasi
            rerum recusandae ducimus neque perspiciatis explicabo nobis
            temporibus, maxime aliquid sequi ipsum et consectetur natus maiores
            optio. Officia ratione architecto recusandae perspiciatis, alias
            unde explicabo rem earum delectus voluptate maiores id aliquid dicta
            nam possimus sit ab cum asperiores dolorem eius natus. Deleniti,
            accusantium, dicta, dolorum quia vero unde aperiam autem expedita
            est reprehenderit eaque? Quaerat, non optio culpa accusamus tempora,
            veniam omnis quam deserunt sed saepe voluptate eos consequuntur cum
            itaque deleniti natus impedit aut excepturi distinctio laborum
            tempore eaque in vitae ipsam. Temporibus repudiandae porro repellat
            quod vel sed aspernatur ea iure consectetur? Quos reiciendis esse,
            aperiam officia ipsam eum obcaecati corporis repudiandae rerum
            repellendus id veniam deleniti debitis iste officiis itaque incidunt
            veritatis explicabo! Hic earum praesentium reiciendis sunt,
            molestias tempore ipsum fugit labore deserunt, fugiat quibusdam
            similique ex. Sapiente ex ut dicta doloribus quam atque! Aut
            molestiae animi omnis veritatis perspiciatis fuga itaque libero
            nulla inventore fugit. Nulla magnam officia maxime consequatur
            accusantium doloremque, corrupti libero nihil, consectetur impedit
            vero placeat praesentium iure atque rerum a dolorem aliquam eius
            dolore. Voluptatibus rem commodi illo ab debitis dolorem sint
            placeat officia aliquid beatae porro iusto, hic eius cumque,
            reiciendis obcaecati tempore labore! Distinctio in inventore
            expedita reiciendis ducimus eligendi nisi ad incidunt ipsam officia
            hic iure aut dicta, quaerat magni voluptates dolorem beatae ab?
            Alias sint eum, blanditiis ea, expedita pariatur error fugiat,
            numquam officiis labore vitae illo ipsa inventore aliquid qui.
            Itaque autem corrupti nostrum, alias voluptas, quo harum minima
            deserunt accusamus quia iure maxime obcaecati iusto aliquid
            recusandae. Quas officia doloremque quasi tenetur fuga minima hic
            totam dolores mollitia nihil, tempora consequuntur deserunt eos
            eveniet pariatur quod. Nisi, perferendis voluptatem nemo, eius
            obcaecati ex ratione quibusdam temporibus aliquam animi inventore.
            Obcaecati eligendi fugit veritatis autem atque. Aspernatur labore,
            neque laudantium earum veniam expedita officiis eveniet alias est,
            voluptates quaerat placeat? Corporis impedit praesentium vitae, quis
            ducimus, officiis atque maiores sapiente reprehenderit, nihil
            expedita illum eaque. Accusantium harum dolorem eum labore ducimus
            temporibus quisquam aut deleniti quasi nobis non obcaecati vitae
            consectetur nisi iste consequuntur culpa blanditiis debitis nam,
            deserunt adipisci neque modi! Laborum, facere natus iste alias
            incidunt placeat asperiores repellat at? Numquam vel ad corrupti
            nisi laudantium, optio nesciunt, molestias impedit quos odio id,
            veniam officia.
        </p>
    </div>
</Layout>
