---
import ServicioCardIndex from "./ServicioCardIndex.astro";
---

<h3 class="text-2xl font-bold mb-6">Catalogo de servicios</h3>

<div class="flex flex-wrap gap-5 items-center justify-center">
    <ServicioCardIndex
        id={1}
        title="Masajes"
        image="masajes"
        url=`servicios`
        btnText="Ver tratamientos"
        services={[
            "Masaje Descontracturante",
            "Masaje relajante",
            "Masaje con pindas o ayurveda",
            "Masaje con piedras calientes",
            "Masaje con Bambú",
            "Masaje de medio cuerpo",
        ]}
    />

    <ServicioCardIndex
        id={2}
        title="Tratamientos Faciales"
        image="tratamiento-facial"
        url="servicios"
        btnText="Ver tratamientos"
        services={[
            "Limpieza facial profunda",
            "Facial antiage",
            "Microneedling",
            "Peeling ultrasónico",
            "Hydrafacial",
            "Facial orgánico",
            "Facial hydracure",
            "Hilos tensores",
        ]}
    />

    <ServicioCardIndex
        id={3}
        title="Yoga"
        image="yoga"
        url="/servicios"
        btnText="Ver tratamientos"
        services={["Yoga Vinyasa", "Hatha yoga", "Yoga Terapeútico"]}
    />

    <ServicioCardIndex
        id={4}
        title="Tratamientos corporales"
        image="tratamieto-corporal"
        url="/servicios"
        btnText="Ver tratamientos"
        services={["Tratamiento reafirmante", "Criolipólisis 360", "Lipobody"]}
    />

    <ServicioCardIndex
        id={5}
        title="Terapias holisticas"
        image="tratmiento-holistico"
        url="/servicios"
        btnText="Ver tratamientos"
        services={[""]}
    />

    <ServicioCardIndex
        id={6}
        title="Rituales"
        image="tratmiento-holistico"
        url="/servicios"
        btnText="Ver tratamientos"
        services={["Ritual Kotodama", ""]}
    />
</div>
