<header
    class="flex flex-col md:flex-row items-center justify-between py-6 md:px-32 shadow-xl sticky top-0 z-[1] w-full"
>
    <picture>
        <img src="" alt="Imagen" />
    </picture>

    <nav>
        <ul class="flex flex-col md:flex-row gap-5">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>