<header
    class="flex flex-col md:flex-row items-center justify-between gap-2 py-1 md:px-32 shadow-xl sticky top-0 z-[1] w-full"
>
    <picture>
        <img class="w-40 md:w-[5.9rem]" src="img/logo-header.png" alt="Imagen Logo" />
    </picture>

    <nav>
        <ul class="flex flex-col md:flex-row gap-5 items-center">
            <li><a href="/" class="">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>

<style lang="scss">
    a {
        color: #4e341e;
        &:hover {
            text-decoration: underline 2px solid #b37c1d;
        }
    }
</style>
