---
import ServicioCardIndex from "@/components/ServicioCardIndex.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Tratamientos Faciales">
    <h2 class="text-center text-3xl font-semibold">Tratamientos Faciales</h2>

    <div class="flex flex-wrap gap-5 items-center justify-center">
        <ServicioCardIndex
            id={1}
            title="Limpieza facial profunda"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={1}
            title="Facial antiage"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={1}
            title="Microneedling"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={1}
            title="Peeling ultrasónico"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={1}
            title="Hydrafacial"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={1}
            title="Facial orgánico"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={1}
            title="Facial hydracure"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={1}
            title="Hilos tensores"
            image="masajes"
            url="/tratamientos-faciales/microneedling"
            btnText="Más Información"
            services={[
            ]}
        />

    </div>
</Layout>
