---
import { ServicioInformacion } from "@/components/ServicioInformacion";
import ServiciosTitulo from "@/components/ServiciosTitulo.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Tratamientos Faciales">
    <ServiciosTitulo
        title="Tratamientos Faciales"
        image="tratamiento-facial"
        description=`Ofrecemos tratamientos faciales de vanguardia realizados por profesionales expertos para realzar tu belleza y promover el bienestar emocional. Nuestra propuesta en Wellness & Esthetics fusiona belleza, salud y bienestar, brindando un ambiente exclusivo para armonizar mente y cuerpo, y vivir una experiencia de bienestar integral.`
    />

    <main class="centrar py-8">
        <div class="flex flex-wrap gap-5 items-center justify-center">
            <ServicioInformacion
                client:visible
                title="Limpieza Facial Profunda"
                image="tratamiento-facial"
                description="La limpieza facial profunda elimina espinillas, impurezas y células muertas, adaptándose a cada tipo de piel. Estimula la regeneración celular, la producción de colágeno y elastina, y mejora la absorción de tratamientos. Ofrece hidratación y frescura sin irritaciones, puntos negros ni tirantez. Recomendada cada 15 días o mensualmente, según evaluación profesional"
                price="170"
                duration="90 min a 120 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Lifting Facial con Radiofrecuencia"
                image="facial-radiofrecuencia"
                description="La radiofrecuencia es un procedimiento no quirúrgico para tratar la flacidez facial y corporal. Mejora la textura de la piel, reduce arrugas y líneas finas, y estimula la regeneración dérmica. Es adecuada para pacientes con flacidez leve o moderada, ofreciendo resultados sin dolor ni cicatrices"
                price="200"
                duration="60 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Hydrafacial"
                image="hydrafacial"
                description="El Hydrafacial es un tratamiento facial no invasivo que combina limpieza profunda, hidratación y estimulación del colágeno. Mejora la textura, luminosidad y firmeza de la piel, eliminando impurezas, arrugas y puntos negros. Adecuado para todo tipo de piel, ofrece resultados inmediatos y sin dolor, sin necesidad de tiempo de recuperación"
                price="200"
                duration="120 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Facial Orgánico"
                image="facial-organico"
                description="La limpieza profunda con productos orgánicos ofrece una solución natural para eliminar impurezas y restaurar la luminosidad de la piel. Adecuada para todas las edades y especialmente recomendada para mujeres embarazadas o en lactancia, esta técnica promueve una piel equilibrada y protegida, sin irritaciones ni sustancias nocivas"
                price="100"
                duration="75 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Facial Express"
                image="facial-express"
                description="Realizamos una exfoliación con productos profesionales aplicando una loción para equilibrar el PH de la piel, luego se coloca una mascarilla para mantener el rostro humectado, por último finalizamos aplicando un FPS factor de protección"
                duration="30 min"
                btnText="Reservar"
            />


            <ServicioInformacion
                client:visible
                title="Microneedling"
                image="microneedling"
                description="El microneedling, una técnica mínimamente invasiva, utiliza microagujas para aplicar productos específicos, mejorando la firmeza y textura de la piel, reduciendo arrugas, líneas de expresión, hiperpigmentaciones y cicatrices de acné. Es ideal para quienes buscan una piel rejuvenecida y tonificada con resultados visibles"
                price="250"
                duration="60 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Rejuvenecimiento Acelerado Con Hilos Tensores"
                image="facial-hilos"
                description="El tratamiento facial con hilos tensores reabsorbibles es una técnica mínimamente invasiva y sin cirugía que estimula el rejuvenecimiento de la piel, favorece la producción de colágeno y redefine el óvalo facial. Los hilos son biocompatibles, el procedimiento es indoloro y permite una rápida recuperación, con resultados naturales que pueden durar hasta 18 meses"
                price="450"
                duration="120 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Facial Antioxidante"
                image="facial-antioxidante"
                description="A partir de los 25 años, la piel muestra los primeros signos de envejecimiento debido a la disminución de la regeneración natural, colágeno y humedad. La vitamina C estimula el colágeno, reduce manchas y protege del sol. Este facial, adecuado para todo tipo de piel, proporciona antioxidantes, firmeza y luminosidad"
                price="170"
                duration="70 min"
                btnText="Reservar"
            />
        </div>
    </main>
</Layout>
