---
import { ServicioInformacion } from "@/components/ServicioInformacion";
import ServiciosTitulo from "@/components/ServiciosTitulo.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Tratamientos corporales">
    <ServiciosTitulo
        title="Tratamientos corporales"
        image="tratamieto-corporal"
        description=`Ofrecemos tratamientos faciales de vanguardia realizados por profesionales expertos para realzar tu belleza y promover el bienestar emocional. Nuestra propuesta en Wellness & Esthetics fusiona belleza, salud y bienestar, brindando un ambiente exclusivo para armonizar mente y cuerpo, y vivir una experiencia de bienestar integral`
    />

    <main class="centrar py-8">
        <div class="flex flex-wrap gap-5 items-center justify-center">
            <ServicioInformacion
                client:visible
                title="Drenaje Linfático"
                image="tratamieto-corporal"
                description=`El drenaje linfático corporal es un protocolo que mejora la circulación y ayuda a eliminar líquidos, grasas y toxinas. Beneficia la oxigenación, fortalece el sistema inmunológico y es complementario en tratamientos de celulitis y adelgazamiento. Indicado para edemas, piernas cansadas, y como complemento en tratamientos corporales`
                price="150"
                duration="75 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Criolipósis360"
                image="tratamieto-corporal"
                description=`La criolipólisis 360 es un tratamiento no invasivo para reducir la grasa corporal mediante la aplicación de frío en áreas específicas. Los resultados se ven en 15 días a un mes. Es seguro y efectivo, pero no una solución completa para la pérdida de peso. Las contraindicaciones incluyen obesidad, embarazo, y patologías crónicas`
                price="750 - S/ 1200"
                duration="120 min - 240 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Tratamiento Lipomodeador"
                image="tratamieto-corporal"
                description=`La reducción de medidas ofrece tratamientos cortos e indoloros para combatir la celulitis y la grasa localizada. Los beneficios incluyen modelado corporal preciso, mejora de la autoestima, resultados duraderos y naturales sin cirugía invasiva, y un proceso sin dolor y sin tiempo de recuperación`
                price="120"
                duration="90 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Tratamiento Anticelulitis"
                image="tratamieto-corporal"
                description=`La reducción de medidas ofrece tratamientos cortos e indoloros para combatir la celulitis y la grasa localizada. Los beneficios incluyen modelado corporal preciso, mejora de la autoestima, resultados duraderos y naturales sin cirugía invasiva, y un proceso sin dolor y sin tiempo de recuperación`
                price="120"
                duration="90 min"
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Tratamiento Reafirmante"
                image="tratamieto-corporal"
                description=`El tratamiento reafirmante corporal revitaliza la elasticidad y firmeza de la piel, especialmente para quienes han perdido tono muscular debido a diversos factores. Combina técnicas no invasivas para tonificar músculos y estimular la producción de colágeno, proporcionando una silueta más definida y una piel rejuvenecida y elástica`
                price="120"
                duration="75 min"
                btnText="Reservar"
            />
        </div>
    </main>
</Layout>
