---
import ServicioCardIndex from "@/components/ServicioCardIndex.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Yoga">
    <h2 class="text-center text-3xl font-semibold">Yoga</h2>

    <div class="flex flex-wrap gap-5 items-center justify-center">
        <ServicioCardIndex
            id={1}
            title="Yoga Vinyasa"
            image="masajes"
            btnText="Más Información"
            url="/"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={2}
            title="Hatha yoga"
            image="masajes"
            btnText="Más Información"
            url="/"
            services={[
                "Masaje con pindas o ayurveda",
                "Masaje con piedras calientes",
                "Masaje con Bambú",
                "Masaje de medio cuerpo",
            ]}
        />

        <ServicioCardIndex
            id={3}
            title="Yoga Terapeútico"
            image="masajes"
            btnText="Más Información"
            url="/"
            services={[
                "Masaje con piedras calientes",
                "Masaje con Bambú",
                "Masaje de medio cuerpo",
            ]}
        />
    </div>
</Layout>
