---
import ServicioCardIndex from "@/components/ServicioCardIndex.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Rituales">
    <h2 class="text-center text-3xl font-semibold">Rituales</h2>

    <div class="flex flex-wrap gap-5 items-center justify-center mb-4">
        <ServicioCardIndex
            id={1}
            title="Ritual Kotodama"
            image="masajes"
            url="/"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={2}
            title="Ritual Chowa"
            image="masajes"
            btnText="Más Información"
            url="/"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={3}
            title="Ritual Seijaku"
            image="masajes"
            url="/"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={3}
            title="Ritual Sanarte"
            image="masajes"
            url="/"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={3}
            title="Ritual Deluxe"
            image="masajes"
            url="/"
            btnText="Más Información"
            services={[
            ]}
        />

        <ServicioCardIndex
            id={3}
            title="Ritual Eterna Juventud"
            image="masajes"
            url="/"
            btnText="Más Información"
            services={[
            ]}
        />
    </div>
</Layout>
