---
import { ServicioInformacion } from "@/components/ServicioInformacion";
import ServiciosTitulo from "@/components/ServiciosTitulo.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Depilación Láser Soprano">
    <ServiciosTitulo
        title="Depilación Láser Sopran"
        image="depilacion-laser"
        description="La depilación láser Soprano Titanium ofrece una solución avanzada y sin dolor, con tres longitudes de onda combinadas para mayor eficacia y seguridad en todos los tipos de piel. Ganadora del premio al mejor láser mundial, su tecnología 3D destruye los folículos pilosos progresivamente, garantizando resultados duraderos"
        warning="Contraindicaciones:"
        warningDescription="Incluyen embarazo, tatuajes y lunares grandes, heridas, insolaciones, pelo blanco o pelirrojo, ciertos medicamentos como antineoplásicos o isotretinoína, y tratamientos como quimioterapia. Si se usan despigmentantes o retinol en la zona a depilar, suspender 3 días antes y después de la sesión"
    />
    <main class="centrar py-8">
        <div class="flex flex-wrap gap-5 items-center justify-center mb-4">
            <ServicioInformacion
                client:visible
                title="Depilación en Axilas"
                image="depilacion-axilas"
                duration="1 min"
                cardMinHeight=""
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Depilación en Ambos Brazos"
                image="depilacion-brazos"
                duration="4 min"
                cardMinHeight=""
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Depilación en Ambas Piernas"
                image="depilacion-laser"
                duration="15 min"
                cardMinHeight=""
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Depilación en Bikini"
                image="depilacion-bikini"
                duration="15 min"
                cardMinHeight=""
                btnText="Reservar"
            />

            <ServicioInformacion
                client:visible
                title="Depilación en Espalda Entera"
                image="masajes"
                duration="5 min"
                cardMinHeight=""
                btnText="Reservar"
            />
        </div>
    </main>
</Layout>
